---
import 'the-new-css-reset/css/reset.css';
import '@scss/main.scss';

import HTMLHead from '@components/html-head/HTML-Head.astro';
---

<!doctype html>

<html class="no-js" lang="en-GB">

	<HTMLHead />

	<body>

		<main class:list={'main'}>

			<slot />

		</main>

	</body>

</html>